@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100&display=swap');

h2{
	font-family: 'Dancing Script', cursive;
	text-align: center;


}


h1{
	text-align: center;
}
.a{
	border: 5px dotted black;
font-size: 30px;
	padding: 10px;
	margin: 20px;
	font-family: 'Raleway', sans-serif;

}

img{
	height: 100px;
	width: 150px;
	border: 2px solid dotted;
}


#b{
	background: rgb(162,203,252);
background: radial-gradient(circle, rgba(162,203,252,1) 13%, rgba(74,98,245,1) 69%);
padding: 90px;
margin: 20px;

display: flex;
justify-content: center;
align-items: center;
border: dotted black 5px;
}
#b p{
	background-color: white;
	padding: 20px;
}
.c{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 20px;
	border: 5px dotted black;
	background-color: lightblue;
	height:230px ;
	margin-top: 20px;
	margin: 20px;



}
.c p{
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	padding-top: 0px;
	height: 230px;
	width: 70px;
}
#d{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	border: 5px dotted black;
	padding: 90px;
	margin: 20px;

}
footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border: 5px dotted black;
	padding: 90px;
	background-color: darkblue;
	margin: 20px;
	height: 100px;
}
footer p{
	background-color: white;
	margin: 0;
	padding: 10px;
}