h1{
padding: 70px;
margin: 20px;
font-size: 30px;
color: white;
text-align: center;
}
h1{
	background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(45,98,253,1) 19%, rgba(45,195,130,1) 44%, rgba(45,253,55,1) 64%);
	
}
h2{
	background: linear-gradient(180deg, rgba(55,50,51,1) 8%, rgba(255,0,0,1) 40%, rgba(230,0,186,1) 58%, rgba(178,199,14,1) 74%, rgba(0,69,255,1) 94%);

padding: 70px;
margin: 20px;
font-size: 30px;
color: white;
text-align: center;
}


h3{background: linear-gradient(90deg, rgba(255,0,0,1) 17%, rgba(178,199,14,1) 48%, rgba(31,58,133,1) 74%);

padding: 70px;
margin: 20px;
font-size: 30px;
color: white;
text-align: center;
}
}
